body { 
    margin: 0;   
    padding: 0; 
    overflow-x: hidden; 
    overflow-y: hidden; 
}

img {
    pointer-events: none;
    /* doing this makes sure .elementFromPoint
    do not acquires the image cursor object */
    position: absolute;
}

* {
    cursor: none;
    }

#map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%;
    background: linear-gradient(0deg, #ffffff 0%, #444343 55%, #290b0b 65%, rgb(3, 17, 36) 100%); 
} 




.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.calc01 {
    width: 100%;
    height: 100%;
    position:absolute;
}

#armediv1 {
    width: 100%;
    height: 85%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;
}

#calcArme {
    height: 700px;
    width: 700px;
    background-image: url('../textures/arme.png');
    background-size:contain;
    background-repeat: no-repeat ;
    position:absolute;
    margin-bottom: 0px;
    transform:translateX(1%) rotateZ(0deg)
}

#menu01 {
    width: 100%;
    height: 20%;
    position: absolute;
    display: flex;
    bottom: 0px;
    flex-direction: column;
}

#menuCadre {
    width: 100%;
    height: 10%;
    display: flex;
    background-color: rgb(36, 68, 5);
}

#menuInfo {
    width: 100%;
    height: 80%;
    display: flex;
    background-color: #0c0a13;
    padding-top: 5px;
    padding-bottom: 5px;
}

.menuBord {
    width: 3%;
    height: 100%;
    background-color: #290b0b
}

.menuBloc {
    height: 100%;
    background-color: #180a3d;
    margin-left: 1%;
    color:aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cadre {
    background-color: rgb(36, 68, 5);position:absolute;
}

#gunPic {
    background-image: url('../textures/main.png');
    background-size:contain;
    background-repeat: no-repeat 
}

#persoPic {
    background-image: url('../textures/perso.png');
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}



#Param01 {
    background-color: #0c0a1355;
}

#menuParam {
    
    cursor: grab;
    width: 0px;
    height: 0px;
    visibility:hidden;
}

#buttonParam {
    width: 40px;
    height: 40px;
    background-color: #f68d8ddd;
    background-image: url('../textures/param.png');
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}




.menuParamArguments {

    color: #ffffff;
    cursor: pointer;
    

}

.menuParamArgumentsText {

    color: #000000;
    cursor: text;
    font-size: 20px;
    height: 5%;
    width: 15%;
    

}


.divCase {
    width: 30%;
    display: flex;
    justify-content: space-between;
}



canvas {
	display: block;
    width: 100px;
    height: 50px;
	margin: 0 auto;
    cursor: default;
}



